<nav class="nav_menu">
    <ul>
      <li>
        <a href="/addpage">Add Page</a>
     </li>
     <li>
       <a href="/allposts">Edit Pages</a>
    </li>
    <li>
      <a href="/logout">Log out</a>
   </li>
    </ul>
 </nav>