<nav class="nav_menu">
   <ul>
   <% if (typeof(posts) != 'undefined') { %>
      <% for(var post of posts) { %>
         <li>
            <a href="<%= post._id %>"><%= post.title %> </a>
         </li>
      
      <% } %>
   <% } %>
      <li>
         <a href="/login">Login</a>
      </li>
    </ul>
 </nav>