<!--This is the main landing page-->
<%- include('layouts/head') -%>
<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav', { posts : posts}); -%>
    <main class="mainContent">
      <h3>Welcome to a non-descript blog!</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fugit, quisquam exercitationem, consectetur 
          ipsum cupiditate et aliquid asperiores perferendis voluptatem dolorem! Dolorem assumenda illo recusandae 
          libero dolor aut vitae nulla.
        </p>
    </main>
</body>
<%- include('layouts/footer'); -%>